.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left center center center center right";
  gap: 20px;
  grid-template-rows: 53px 1fr 70px;
  background-color: #f4f2ee;
  height: 200vh;
  font-family: "Source Sans Pro", sans-serif;
}

.header-container {
  grid-area: header;
}

.left-container {
  grid-area: left;
  width: 40vh;
  height: fit-content;
  margin-left: 100px;
}

.center-container {
  grid-area: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.right-container {
  grid-area: right;
  width: 40vh;
  height: fit-content;
  margin-right: 100px !important;
}
