.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left center center center center right";
  gap: 10px;
  grid-template-rows: 80px 1fr 70px;

  background-color: black;
  height: 100vh;
  padding: 10px;
}

.grid-container > div {
  background-color: red;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.item1 {
  grid-area: header;
}
.item2 {
  grid-area: left;
}
.item3 {
  grid-area: center;
}
.item4 {
  grid-area: right;
}
