.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left center center center center right";
  gap: 10px;
  grid-template-rows: 80px 1fr 70px;
  background-color: #f4f2ee;
  height: 100vh;
  padding: 10px;
  color: rgba(1, 1, 0, 0.75);
  font-size: 16px;
  letter-spacing: normal;
  line-height: 24px;
}

.grid-container > div {
  background-color: #ffffff;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.header-container {
  grid-area: header;
}
.left-container {
  grid-area: left;
}
.center-container {
  grid-area: center;
  background-color: #f4f2ee !important;
}
.right-container {
  grid-area: right;
}
